{% extends "blog/base.html" %}

{% block head_block %}
Login page
{% endblock head_block %}


{% block body_block %}

<div class="jumbotron">
    <h2>Please login:</h2>
    <h3>(Must be a super user)</h3>

    {% if form.errors %}
        <p>Your username/password didn't match! Please try again!</p>
    {% endif %}


    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input class='btn btn-primary' type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

</div>

{% endblock body_block %}